# DAY 1

## EXERCISE 1

# Welcome to My Jupyter Notebook
This notebook demonstrates basic Jupyter Notebook features, including markdown formatting, Python code execution, and magic commands.

# Notebook Features
1. Python code execution
2. Markdown formatting
3. Exporting notebook files

- Simple calculations
- Using magic commands
- Creating tables

In [165]:
print("Hello, welcome zaynabu!")

Hello, welcome zaynabu!

# Learn More
[Visit Python Official Documentation](https://docs.python.org/3/)

![Python Logo](https://www.python.org/static/community_logos/python-logo.png)

In [120]:
# Perform addition and subtraction
num1 = 21
num2 = 9
addition = num1 + num2
subtraction = num1 - num2

print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtraction}")

Addition: 21 + 9 = 30
Subtraction: 21 - 9 = 12

In [121]:
# Get documentation for the print function
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [122]:
# This section performs basic mathematical operations
# Variables num1 and num2 store input values
# Results of addition and subtraction are printed below

num1 = 22
num2 = 11
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)

Addition: 33
Subtraction: 11

In [123]:
# Measure execution time of a code block
%time sum(range(1000000))

# List all variables in the current namespace
%who

Wall time: 93.9 ms
a	 addition	 area	 b	 c	 colors	 colors_tuple	 dict1	 dict2
discriminant	 float_num	 fruits	 greeting	 int_num	 key	 lang_years	 languages	 merged
message	 my_dict	 my_list	 my_tuple	 name	 num	 num1	 num2	 numbers
person	 phyton_score	 radius	 result	 root1	 root2	 score	 set1	 set2
squares	 str1	 str2	 subtraction	 text	 total	 tup	 unique_numbers	 user_input
value	 variable	 words	 x	 y	 z

|Full_Name      | Age | specialization    |
|-----------|-----|---------------|
| zainab naseer  | 38  | Data Scientist |
| hope bako| 26 | Machine Learning |

In [124]:
# Identifying data types
print(type(42))                          # Integer
print(type(3.14))                        # Float
print(type("Python"))                    # String
print(type([1, 2, 3]))                   # List
print(type({"name": "John", "age": 30})) # Dictionary

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [11]:
# Convert integer to float and string
num = 80
print(float(num))  # Convert to float
print(str(num))    # Convert to string

80.0
80

In [157]:
# List of favorite fruits
fruits = ["Apple", "Banana", "Pineapple", "Mango", "Orange"]
print(type(fruits))  # Print the data type

<class 'list'>

In [158]:
# Check if a variable is of type str
variable = "Python"
if isinstance(variable, str):
    print("The variable is a string.")
else:
    print("The variable is not a string.")

The variable is a string.

In [34]:
# Tuple with different data types
my_tuple = (42, "Python", 3.14)
print(my_tuple[1])  # Access the second element

Python

In [18]:
# Dictionary with three key-value pairs
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict["age"])  # Retrieve the value for the key 'age'

25

In [19]:
# Verify data types using type()
num = 42
text = "Hello"
fruits = ["Apple", "Banana"]
print(type(num))    # Integer
print(type(text))   # String
print(type(fruits)) # List

<class 'int'>
<class 'str'>
<class 'list'>

In [20]:
# Typecasting float to integer
float_num = 3.99
int_num = int(float_num)
print("Original float:", float_num)
print("After typecasting to int:", int_num)

Original float: 3.99
After typecasting to int: 3

In [156]:
# Check if input is a number or string
user_input = input("Enter something: ")
if user_input.isdigit():
    print("The input is a number.")
else:
    print("The input is a string.")

Enter something: 38
The input is a number.

In [23]:
# Calculate lengths
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

print("Length of list:", len(my_list))
print("Length of tuple:", len(my_tuple))
print("Length of dictionary:", len(my_dict))

Length of list: 5
Length of tuple: 3
Length of dictionary: 3

In [42]:
x, y, z = 10, 34, 30
total = x + y + z
print("The sum is:", total)

The sum is: 74

In [25]:
a, b = 5, 10
a, b = b, a
print("Swapped values: a =", a, ", b =", b)

Swapped values: a = 10 , b = 5

In [26]:
greeting = "Hello"
name = "World"
message = greeting + ", " + name + "!"
print(message)

Hello, World!

In [27]:
num = 10
num += 5  # num = num + 5
num *= 2  # num = num * 2
print("Result after compound operations:", num)

Result after compound operations: 30

radius = 7
area = 3.14 * radius**2
print("Area of the circle:", area)

In [29]:
a, b, c = 1, -7, 10
discriminant = b**2 - 4*a*c
root1 = (-b + discriminant**0.5) / (2*a)
root2 = (-b - discriminant**0.5) / (2*a)
print("Roots of the quadratic equation are:", root1, root2)

Roots of the quadratic equation are: 5.0 2.0

In [30]:
value = 42
print("Memory location of value:", id(value))

Memory location of value: 2243026251344

In [126]:
name = "Alice"
print(f"Hello, {name}! Welcome to Python programming.")

Hello, Alice! Welcome to Python programming.

In [38]:
x, y = 7, 12
result = (x + y > 10) and (x * y > 20)
print("Result of the expression:", result)

Result of the expression: True

In [37]:
a, b = 6, 4
result = (a + b)**2
print("(a + b)^2 =", result)

(a + b)^2 = 100

In [36]:
str1 = "zaynab"
str2 = "naseer"
print(str1 + " " + str2)

zaynab naseer

# DAY TWO

## Exercise 1: Strings

In [61]:
# 1. Concatenate Strings


result = "Hello" + " " + "Mrs" + " " + "Zaynab"
print(result)

Hello Mrs Zaynab

In [56]:
#2. Find String Length


text = "Learn to code in Python!"
print(len(text))

24

In [59]:
#3. Extract Substring

text = "Python Programming"
print(text[7:14])  # Extract "Program"

Program

In [60]:
#4. Change Case

text = "Python Rocks!"
print(text.upper())
print(text.lower())
print(text.title())

PYTHON ROCKS!
python rocks!
Python Rocks!

In [62]:
#5. Replace Substring
text = "Python is not bad"
print(text.replace("bad", "good"))

Python is not good

In [63]:
# 6. Check Substring
text = "Coding is fun with Python"
print("code" in text)

False

In [64]:
# 7. Reverse String
text = "Python"
print(text[::-1])

nohtyP

In [65]:
# 8. Split and Join
text = "Learn Python the easy way"
words = text.split()
result = "-".join(words)
print(result)

Learn-Python-the-easy-way

In [114]:
# 9. count occurances
text = "banana apple avocado"
print(text.count('a'))

6

In [129]:
# 10. String Formatting .format method
score = 95
phyton_score = "I scored {} in Python, which is awesome!".format(score)
print (phyton_score)

I scored 95 in Python, which is awesome!

In [117]:
# 10. String Formatting f method

score = 95
phyton_score = (f"I scored {score} in Python, which is awesome!")
print (phyton_score
      )

I scored 95 in Python, which is awesome!

## Exercise 2: Lists/Tuples

In [68]:
# 1. Create and Print List

fruits = ["apple", "banana", "pineapple", "date", "strawberry"]
print(fruits[0], fruits[-1])  # First and last items

apple strawberry

In [69]:
# 2. Modify List
fruits = ["apple", "banana", "cherry", "date", "strawberry"]
fruits.append("fig")
fruits.remove("cherry")
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'date', 'strawberry', 'fig']

In [105]:
# 3. Sort and Reverse List

fruits = ["apple","cherry", "banana", "pawpaw" , "date", "strawberry"]
fruits.sort()
fruits.reverse()
print(fruits)

['strawberry', 'pawpaw', 'date', 'cherry', 'banana', 'apple']

In [71]:
# 4. Slice List
languages = ["Python", "Java", "C++", "Ruby", "Go"]
print(languages[:3])

['Python', 'Java', 'C++']

In [72]:
# 5. Sum of List

numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [73]:
# 6. Tuple Creation
numbers = (10, 20, 30, 40, 50)
print(max(numbers), min(numbers))

50 10

In [75]:
# 7. Convert List to Tuple

colors = ["red", "green", "blue", "white", "black", "yellow"]
colors_tuple = tuple(colors)
print(colors_tuple)

('red', 'green', 'blue', 'white', 'black', 'yellow')

In [76]:
# 8. Unpack Tuple

tup = (1, 2, 3)
a, b, c = tup
print(a, b, c)

1 2 3

In [78]:
# 9. List Comprehension

squares = [x**2 for x in range(1, 13)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [79]:
# 10. Find Index

languages = ["Python", "Java", "C++", "Ruby", "Go"]
print(languages.index("C++"))

2

## Exercise 3: Dictionaries

In [80]:
# 1. Create Dictionary

person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [81]:
# 2. Access Value
print(person["city"])

New York

In [82]:
# 3. Update Value
person["age"] = 30
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [83]:
# 4. Add Key-Value Pair

person["country"] = "USA"
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [85]:
# 5. Delete Key

del person["city"]
print(person)

{'name': 'Alice', 'age': 30, 'country': 'USA'}

In [86]:
# 6. Check Key Existence

print("name" in person)

True

In [87]:
# 7. Iterate Dictionary

for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
country: USA

In [88]:
# 8. Merge Dictionaries

dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
merged = {**dict1, **dict2}
print(merged)

{'x': 1, 'y': 3, 'z': 4}

In [89]:
# 9. Dictionary Keys and Values

lang_years = {"Python": 1991, "Java": 1995, "C++": 1985}
print(list(lang_years.keys()), list(lang_years.values()))

['Python', 'Java', 'C++'] [1991, 1995, 1985]

In [90]:
# 10. Dictionary Comprehension

squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Exercise 4: Sets

In [91]:
# 1. Create and Print Set

colors = {"red", "green", "blue"}
print(colors)

{'blue', 'green', 'red'}

In [92]:
# 2. Add Element

colors.add("yellow")
print(colors)

{'blue', 'green', 'yellow', 'red'}

In [93]:
# 3. Remove Element

colors.remove("green")
print(colors)

{'blue', 'yellow', 'red'}

In [130]:
# 4. Check Membership

print("blue" in colors)

True

In [95]:
# 5. Union of Sets

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [96]:
# 6. Intersection of Sets

print(set1 & set2)

{3}

In [97]:
#7. Difference of Sets
print(set1 - set2)

{1, 2}

In [98]:
# 8. Set Length

print(len({1, 2, 3, 4, 5}))

5

In [99]:
#9. Set Operations
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2), set2.issuperset(set1))

True True

In [100]:
# 10. Convert List to Set
numbers = [1, 2, 2, 3, 4, 4]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4}

# DAY 3

## FUNCTIONS

In [161]:
def add(z):
  """ sums whatsoever number you provide 1 """
  n = z + 1
  print(z,"if you add one",n)
  print(n )

In [160]:
def con(a,b):
    return(a+b)

## CLASS PRACTICALS